@import './reset.scss';
@import './quasar.scss';

// ----------------------------------------------------------------------------
// General Elements
// ----------------------------------------------------------------------------

:root {
    --q-primary: #{$primary};
    --q-secondary: #{$secondary};
    --q-accent: #{$accent};

    --q-dark: #{$dark};
    --q-dark-page: #{$dark-page};

    --q-positive: #{$positive};
    --q-negative: #{$negative};
    --q-info: #{$info};
    --q-warning: #{$warning};
}

noscript{
    font-weight: bold;
    text-align: center;

    background: $warning;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $header-height;
    padding: math.div($padding, 2);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

html, body, #app{
    height: 100%;
}

body{
    color: $dark;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: $ratio;
}

a:not(.q-btn):not(.q-tab){
    color: $primary;
    text-decoration: none;

    &,
    &.external-link .q-icon{
        transition: $transition;
    }

    &:hover{
        &,
        &.external-link .q-icon{
            color: $dark;
        }
    }

    &.dark{
        &,
        &.external-link .q-icon{
            color: $secondary;
        }

        &:hover{
            &,
            &.external-link .q-icon{
                color: white;
            }
        }
    }
}

h1{
    font-size: 4.2rem;
    font-weight: 900;
    line-height: 1;
}

h2{
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.25;
}

h3{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.25;
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
}

h5{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
}

h6{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.25;
}

strong{
    font-weight: bold;
}
em{
    font-style: italic;
}

$list-item-padding: math.div($padding, 2);
$list-padding: $hspace + $list-item-padding;

ul, ol, dl{
    display: grid;
    gap: $list-item-padding;
    padding-left: $list-padding;
}
ul{
    list-style-type: disc;
}
ol{
    list-style-type: decimal;
}
dl{
    dt{
        font-weight: bold;
    }
    dd{
        margin-left: $list-padding;
    }
}
li{
    > ul,
    > ol,
    > dl{
        margin-top: $list-item-padding;
    }
}

pre{
    background: $light-on-light;
    overflow: auto;
    padding: $hspace;
    width: 100%;

    line-height: 1.25;
    text-align: left !important;

    *{
        font-family: 'Courier New', Courier, monospace;
    }

    code{
        background: unset;
        border-radius: unset;
        padding: 0;
    }
}

code{
    background: $light-on-light;
    border-radius: math.div($padding, 4);
    font-family: 'Courier New', Courier, monospace;
    padding: math.div($padding, 4) math.div($padding, 2);
}

table{
    thead{
        font-weight: bold;

        tr{
            border-top: 1px solid;
        }
    }

    tr{
        border-bottom: 1px solid;
    }

    td{
        padding: math.div($padding, 2) $padding;
    }
}

label{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-weight: bold;

    > *{
        font-weight: normal;
        width: 100%;
    }
}

// ----------------------------------------------------------------------------
// Helper Classes
// ----------------------------------------------------------------------------

.flex-hgap{
    display: flex;
    flex-direction: row;
    gap: $padding;
}

.flex-vgap{
    display: flex;
    flex-direction: column;
    gap: $padding * 2;
}

.flex-1{
    flex: 1;
}

@for $i from 2 through 6{
    .grid-#{$i}{
        display: grid;
        grid-template-columns: repeat(#{$i}, 1fr);
        gap: $padding;
    }
}

.grid-full{
    grid-column-start: 1;
    grid-column-end: -1;
}

.callout{
    @extend .flex-vgap;

    border-left: 5px solid;
    background-color: $light-on-light;
    padding: $padding * 2;

    &.warning{
        border-left-color: $warning;
        background-color: color.adjust($warning, $lightness: 30%);
    }

    &.positive{
        border-left-color: $positive;
        background-color: color.adjust($positive, $lightness: 50%);
    }
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding;
    padding-right: $padding;

    max-width: $max-container-width;
    width: $container-width;

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
    }
}

.full-height-container{
    min-height: calc(100vh - #{$header-height});

    @media (max-width: $mobile-breakpoint) {
        min-height: 0;
    }
}

.text-container{
    display: grid;
    grid-template-columns: 100%;
    gap: $hspace * 2;
    padding-top: $vspace;
    padding-bottom: $vspace;

    font-size: 1.25rem;

    &:not(.full){
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);

        &.reverse{
            grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
        }

        @media (max-width: $mobile-breakpoint) {
            grid-template-columns: 100%;
        }
    }

    h1{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    h2,
    h3,
    h4,
    h5,
    h6{
        &:not(:first-child) {
            margin-top: $hspace;
        }

        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6{
            margin-top: 0;
        }
    }

    > section,
    > aside{
        @extend .flex-vgap;
    }

    .q-img{
        border: math.div($padding, 2) solid $light-on-light;

        .caption{
            font-size: 1rem;
            font-style: italic;
            text-align: center;

            background: rgba(0, 0, 0, 0.75);
            color: white;
            padding: $padding;
        }
    }
}
