@import url('http://www.malcovercss.link/generated/all-before.css');

*{
    padding: 0;
    margin: 0;
}

body{
    background: #eee;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
}

#list_surround{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 900px;
}

@media (min-width: 1160px) {
    #list_surround{
        width: 1120px;
    }
}

@media (min-width: 1380px) {
    #list_surround{
        width: 1340px;
    }
}

@media (min-width: 1600px) {
    #list_surround{
        width: 1560px;
    }
}

@media (min-width: 1820px) {
    #list_surround{
        width: 1780px;
    }
}

/******************************************************************************
 * Control Strip
 ******************************************************************************/

table#mal_control_strip{
    background: #333;
    padding: 10px 0;
}

table#mal_control_strip td div{
    margin: 0;
}

table#mal_control_strip #mal_cs_pic{
    border: none;
}

table#mal_control_strip #mal_cs_powered{
    display: none;
}

/******************************************************************************
 * Menu
 ******************************************************************************/

#list_surround table:first-of-type td {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    width: 14%;
}

#list_surround table:first-of-type td:first-of-type {
    margin-left: 2%;
}

#list_surround table:first-of-type td a {
    color:#fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    
    background: #333;
    display: block;
    transition: 0.5s;
    height: 40px;
}

#list_surround table:first-of-type td:first-child a {
    margin-left: 0;
}

#list_surround table:first-of-type td a:hover,
#list_surround table:first-of-type td.status_selected a {
    background: #666;
}

/******************************************************************************
 * Anime Tiles
 ******************************************************************************/

#list_surround table:not(:first-of-type) {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 9px;
    position: relative;
    width: 200px; height: 300px;
}

/* Hide table labels */
#list_surround table.header_cw + table,
#list_surround table.header_completed + table,
#list_surround table.header_onhold + table, 
#list_surround table.header_dropped + table, 
#list_surround table.header_ptw + table {
    display: none;
}

/* Airing label */
#list_surround table:not(:first-of-type) td a.animetitle + small {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

    background: #000;
    display: block;
    padding: 5px 10px;
    position: absolute;
    top: 20px; left: -10px;
}

/* Manage */
#list_surround table:not(:first-of-type) td div small {
    position: absolute;
    bottom: 50px; left: 30px;
    z-index: 1;
}

/* Manage - add/edit link */
#list_surround table:not(:first-of-type) td div small a {
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Manage - more link */
#list_surround table:not(:first-of-type) td div small a:last-child {
    display: none;
}

/* Main link */
#list_surround table:not(:first-of-type) td a.animetitle {
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    box-sizing: border-box;
    display: block;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 190px;
    position: absolute;
    bottom: 75px; left: 10px;
    width: 180px; height: auto;
}

#list_surround table:not(:first-of-type) td a.animetitle span {
    position: relative;
    z-index: 1;
}

#list_surround table:not(:first-of-type) td a.animetitle:before,
#list_surround table:not(:first-of-type) td a.animetitle:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -35px; left: 0;
    z-index: 0;
    width:180px; height: 250px;
}

/* Main link - background */
#list_surround table:not(:first-of-type) td a.animetitle:before {
    background-color: #333;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

#list_surround table:not(:first-of-type) td a.animetitle:after {
    background-color: #333;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    transition: 0.2s;

    height: 150px;
}

#list_surround table:not(:first-of-type) td a.animetitle:hover:after {
    height: 250px;
}

/* Score */
#list_surround table:not(:first-of-type) td:nth-child(2) {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-align: right;
    
    display: block;
    padding: 5px 10px;
    position: absolute;
    bottom: 40px; right: 10px;
    width: auto; height: 30px;
}

/* Score - when logged in */
#list_surround table:not(:first-of-type) td:nth-child(2) a {
    color: #fff;
    text-decoration: none;
}

/* Score - /10 */
#list_surround table:not(:first-of-type) td:nth-child(2):after {
    color: #ddd;
    content: ' /10';
    font-size: 13px;
    font-weight: normal;
}

/* Tags - edit */
#list_surround table:not(:first-of-type) td:nth-child(3) div {
    display: none;
}

/* Tags - tag cloud */
#list_surround table:not(:first-of-type) td:nth-child(3) span {
    text-indent: -9999px;

    display: block;
    overflow: hidden;
    position:absolute;
    bottom: 10px; left:10px;
    width: 180px; height: 20px;
}

/* Tags - link */
#list_surround table:not(:first-of-type) td:nth-child(3) span a {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    text-indent: 0;
    text-decoration: none;
    text-transform: uppercase;
    
    background: #666;
    border-radius: 2px;
    display: block;
    float: left;
    padding: 0 4px;
    margin-right: 4px;
    height: 20px;
}

/******************************************************************************
 * Headings
 ******************************************************************************/

#list_surround table.header_cw,
#list_surround table.header_completed,
#list_surround table.header_onhold, 
#list_surround table.header_dropped, 
#list_surround table.header_ptw {
    background: none;
    border: none;
    box-shadow: none;
    clear: both;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    width: auto; height: auto;
}

#list_surround .header_title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/******************************************************************************
 * Totals
 ******************************************************************************/

.category_totals {
    padding: 20px;
    white-space: pre-line;
}

.category_totals:before {
    content: 'Stats';
    font-weight: bold;
}

#grand_totals {
    display: none;
}

/******************************************************************************
 * Copyright
 ******************************************************************************/

#copyright {
    font-size: 13px;
    clear: both;
    padding: 40px 0;
}
