@import 'https://malcovercss.link/generated/all-before.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #eee;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
}

br{
    display: none;
    clear: both;
}

#list_surround {
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 1160px) {
    #list_surround{
        width: 1100px;
    }
}

@media (min-width: 1380px) {
    #list_surround{
        width: 1320px;
    }
}

@media (min-width: 1600px) {
    #list_surround{
        width: 1540px;
    }
}

@media (min-width: 1820px) {
    #list_surround{
        width: 1760px;
    }
}

/******************************************************************************
 * Control Strip
 ******************************************************************************/

table#mal_control_strip {
    background: #333;
    padding: 10px 0;
}

table#mal_control_strip td div {
    margin: 0;
}

table#mal_control_strip #mal_cs_pic {
    border: none;
}

table#mal_control_strip #mal_cs_powered {
    display: none;
}

/******************************************************************************
 * Menu
 ******************************************************************************/

#list_surround table:first-of-type tr {
    display: flex;
    gap: 20px;
    margin: 20px 10px;
}

#list_surround table:first-of-type td {
    display: block;
    flex: 1;
}

#list_surround table:first-of-type td a {
    color:#fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;

    background: #333;
    display: block;
    transition: 0.5s;
    height: 60px;
    line-height: 60px;
}

#list_surround table:first-of-type td a:hover,
#list_surround table:first-of-type td.status_selected a {
    background: #666;
}

/******************************************************************************
 * Anime Tiles
 ******************************************************************************/

#list_surround table:not(:first-of-type) {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 200px; height: 300px;
}

/* Hide table labels */
#list_surround table.header_cw + table,
#list_surround table.header_completed + table,
#list_surround table.header_onhold + table,
#list_surround table.header_dropped + table,
#list_surround table.header_ptw + table {
    display: none;
}

/* Airing label */
#list_surround table:not(:first-of-type) td a.animetitle + small {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

    background: #000;
    display: block;
    padding: 5px 10px;
    position: absolute;
    top: 20px; left: -10px;
}

/* Manage */
#list_surround table:not(:first-of-type) td div small {
    position: absolute;
    bottom: 30px; left: 30px;
    z-index: 1;
}

/* Manage - add/edit link */
#list_surround table:not(:first-of-type) td div small a {
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Manage - more link */
#list_surround table:not(:first-of-type) td div small a:last-child {
    display: none;
}

/* Main link */
#list_surround table:not(:first-of-type) td a.animetitle {
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    display: block;
    position: absolute;
    left: 10px; right: 10px;
    top: 10px; bottom: 10px;
}

#list_surround table:not(:first-of-type) td a.animetitle span {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 20px;
    right: 20px;
}

#list_surround table:not(:first-of-type) td a.animetitle:before,
#list_surround table:not(:first-of-type) td a.animetitle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 0;
}

/* Main link - background */
#list_surround table:not(:first-of-type) td a.animetitle:before {
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#list_surround table:not(:first-of-type) td a.animetitle:after {
    background-color: #333;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    transition: 0.25s;
    top: 50%;
}

#list_surround table:not(:first-of-type) td a.animetitle:hover:after {
    top: 10px;
}

/* Score */
#list_surround table:not(:first-of-type) td:nth-child(2) {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-align: right;

    display: block;
    padding: 5px 10px;
    position: absolute;
    bottom: 30px; right: 20px;
    width: auto; height: 30px;
}

/* Score - when logged in */
#list_surround table:not(:first-of-type) td:nth-child(2) a {
    color: #fff;
    text-decoration: none;
}

/* Score - /10 */
#list_surround table:not(:first-of-type) td:nth-child(2):after {
    color: #ddd;
    content: ' /10';
    font-size: 13px;
    font-weight: normal;
}

/******************************************************************************
 * Headings
 ******************************************************************************/

#list_surround table.header_cw,
#list_surround table.header_completed,
#list_surround table.header_onhold,
#list_surround table.header_dropped,
#list_surround table.header_ptw {
    background: #eee;
    border: none;
    box-shadow: none;
    clear: both;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    width: auto; height: auto;

    position: sticky;
    top: 0;
    z-index: 9;
}

#list_surround .header_title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin: 20px 10px;
}

/******************************************************************************
 * Totals
 ******************************************************************************/

.category_totals {
    padding: 20px;
    white-space: pre-line;
}

.category_totals:before {
    content: 'Stats';
    font-weight: bold;
}

#grand_totals {
    display: none;
}

/******************************************************************************
 * Copyright
 ******************************************************************************/

.grecaptcha-badge {
    display: none !important;
}

#copyright,
#recaptcha-terms{
    font-size: 13px;
    text-align: center;

    float: left;
    width: 100%;
}

#copyright {
    margin-top: 40px !important;
    margin-bottom: 10px;
}

#recaptcha-terms {
    margin-bottom: 40px;
}
