$dark: #222;
$primary: #2e51a2;
$dimmed: #666;
$dimmed-light: #dedede;

$padding: 16px;
$space-base: $padding;

@import 'quasar/src/css/variables.sass';

$max-page-width: 1600px;
$mobile-breakpoint: $breakpoint-sm;
