// ----------------------------------------------------------------------------
// App
// ----------------------------------------------------------------------------

$max-page-width: 1280px;
$mobile-breakpoint: 1023px;

$padding: 16px;
$column-gap: $padding * 4;
$vspace: $padding * 8;

$header-line-height: 24px;
$header-btn-size: $header-line-height + (2 * $padding);
$header-height: $header-line-height + (4 * $padding);

// ----------------------------------------------------------------------------
// App Colors
// ----------------------------------------------------------------------------

$light-on-primary: rgba(255, 255, 255, 0.75);
$light-on-dark:    rgba(255, 255, 255, 0.2);
$light-on-light:   rgba(22, 22, 22, 0.1);

// ----------------------------------------------------------------------------
// Quasar
// ----------------------------------------------------------------------------

$primary   : #2e51a2;
$secondary : lighten($primary, 20%);
$accent    : darken($primary, 20%);

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$dark      : #1d1d1d;
$dark-page : #121212;
